---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Play Vire | Grand Strategy Game that is opensource, free, and lots of fun"
  description="Vire is actively building a community around creating a grand strategy game with endless content and endless fun."
>
  <h1 class="text-2xl">Vire</h1>
</Layout>
